MINIO_HOST=        # MinIO address
MINIO_ACCESS_KEY=      # MINIO your username
MINIO_SECRET_KEY= #MINIO PASSWORD
POSTGRES_HOST= 
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
ES_HOST=           # Elasticsearch address
ES_USER=           # ES username
ES_PASSWORD=       # ES password
QDRANT_HOST=localhost
QDRANT_PORT=6333

MODEL_NAME = "./models/all-mpnet-base-v2"