MINIO_HOST=        # MinIO address
MINIO_ACCESS_KEY=      # MINIO your username
MINIO_SECRET_KEY= #MINIO PASSWORD
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SQLSERVER_DB=omnidoc
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
ES_HOST=           # Elasticsearch address
ES_USER=           # ES username
ES_PASSWORD=       # ES password
QDRANT_HOST=localhost
QDRANT_PORT=6333

MODEL_NAME = "./models/all-mpnet-base-v2"